data/upstreams/snapshots/** whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
app/src/main/cpp/IRremoteESP8266-LICENSE.txt whitespace=-blank-at-eol,-blank-at-eof
app/src/main/cpp/upstream/** whitespace=-blank-at-eol,-blank-at-eof
